body {
    padding: 0;
    margin: 0;
    padding-top: 100px;
    width:100vw;
    background-color: rgb(25,33,41);
    color: white;


}

#form-container {
    margin: auto;
    width: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(67, 163, 230);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
   
    
}

.CTA {
    background-color: rgb(67, 163, 230);
    color:white;
    border-radius:10px;
    padding-top:2px;
    padding-bottom:2px;
}
